.globalstats{

  display: flex;
  justify-content: space-around;
  background-color: #86c6f4;
  color: white;
  height: 140px;
  padding-top: 10%;

}
table{
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-top: 4%;
}
th, td{
  padding: 8%;
  text-align: left;
  border-bottom: 1px solid #ddd;
}